.right-header {
  height: 96vh;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  color: #6A4928;
}

.right-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.right-header h1 span {
  font-size: 40px;
  padding-left: 18%;
}

.tab-B {
  height: 96vh;
  position: relative;
  color: #6A4928;
}

.tab-B .aboutme {
  position: absolute;
  top: 20%;
  left: 20%;
}

.tab-B .aboutme h2 {
  padding: 10px 0px;
  font-size: 40px;
  text-align: center;
  color: #6A4928;
  margin-bottom: 20px;
}

.tab-B .aboutme p {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.tab-C {
  height: 96vh;
  position: relative;
  color: #6A4928;
}

.tab-C #skill {
  position: absolute;
  top: 44%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.tab-C #skill .skill-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tab-C #skill .skill {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-C #skill .skill img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.tab-C #skill .skill h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.tab-C #skill .skill p {
  font-size: 14px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.tab-C #skill h2 {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
  color: #6A4928;
}

.tab-D {
  height: 96vh;
  position: relative;
  color: #6A4928;
}

.tab-D #works .works {
  position: absolute;
  top: 55%;
  left: 46%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tab-D #works li {
  list-style: none;
  font-size: 16px;
}

.tab-D #works li .url {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.tab-D #works h2 {
  position: absolute;
  top: 14%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  font-size: 40px;
  margin-bottom: 50px;
}

.tab-D #works h3 {
  font-size: 24px;
  margin: 30px 0px 30px 0px;
}

.tab-D #works p {
  font-size: 16px;
  margin-bottom: 30px;
}

.tab-D #works img {
  margin-top: 30px;
  height: 300px;
  width: auto;
}

#triangle {
  position: relative;
}

#triangle .triangle1 {
  content: "";
  top: 0;
  left: 0;
  border-bottom: 7em solid transparent;
  border-left: 17em solid #4977BC;
  position: absolute;
  z-index: 100;
}

#triangle .triangle2 {
  content: "";
  top: 0;
  right: 0;
  border-bottom: 8em solid transparent;
  border-right: 14em solid #6A4928;
  position: absolute;
  z-index: 100;
}

#triangle .triangle3 {
  content: "";
  top: 83vh;
  left: 0;
  border-top: 10em solid transparent;
  border-left: 16em solid #6A4928;
  position: fixed;
  z-index: 100;
}

#triangle .triangle4 {
  content: "";
  top: 83vh;
  right: 0;
  border-top: 12em solid transparent;
  border-right: 18em solid #4977BC;
  position: fixed;
  z-index: 100;
}

.tab-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #000;
  border: none;
}

.panel {
  display: none;
}

.tab.is-active {
  background-color: #e0e0e0;
}

.panel.is-show {
  display: block;
}
/*# sourceMappingURL=style.css.map */